/*-------------------------------  .post  -------------------------------*/

.post{
  background-color: #FFFFFF;
  margin: 12px 0px 0px;
  border: 1px solid #CCCCCC;
}

/* .post > header */
.post > header{
  padding: 8px 8px 5px 8px;
}
.post-user{
  margin-left: 8px;
  max-width: 78%;
}
.link-time{
  color: #9197a3;
  font-size: small;
}
.link-time.post-count {
	margin: 0px 8px 5px;
}
.link-time.post-count.clearfix {
    padding: 0px 10px;
    font-size: smaller;
}
.link-time.post-count>span:not(:last-child)>span:last-child {
    margin-right: 0px;
}
.link-time.post-count.clearfix>span:nth-child(1) {
    margin-right: 20px;
}
.link-time.post-count.clearfix>span:nth-child(3) {
    margin-right: 10px !important;
    margin-left: 10px;
}
.link-time.post-count.clearfix>span:nth-child(4) {
    margin-right: 9px;
}
.link-time>span>span:first-child {
    margin-right: 4px;
}
.post-menu {
	right: 8px;
}
.post-menu-btn{
  color: #9197a3;
  font-size: 15px;
}

/* .post > section */
.post > section{
  padding: 0px 8px 8px;
}
.post-with {
	font-size: 14px;
}
.post-with>span {
	margin: 0px 5px;
	color: #545454;
}
.post-with>span:first-child {
	margin-left: 0;
}
.post-text {
	margin: 5px 0px;
	line-height: 1.3;
}
.post-text>span{
	color: #353535;
	margin-right: 8px;
	font-size: 15px;
}
/* .post > footer */
.post > footer {
	line-height: 1;
}
.post-btn {
  border-top: 1px solid #EEEEEE;
  display: inline-block;
  width: 100%;
  padding: 3px 8px;
}
.post-btn > a{
  color: #888080;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  padding: 3px;
  font-size: 15px !important;
  font-weight: 600;
  border: none;
  width: 33% !important;
  float: left;
  text-align: center;
}
.post-btn > a > span:first-child {
    font-size: 12.6px;
}
.post-btn > a > span {
    padding-right: 1px;
    font-size: 15px;
}
.post-btn > a > .glyphicon{
  margin-right: 3px;
}
.like{
  color: #5890FF!important;
}

.love {
	color: #f540a9 !important;
}

/* #post_menu */